//登录页
@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,input,textarea,button,select{padding:0;margin:0}
body{font:12px/20px "微软雅黑","simsun";color:#333;/*overflow-x:hidden;*/}
img{vertical-align:middle;border:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#333;}
a:visited{color:#666;}
a:hover{color:#b28247 !important;}
input:focus,textarea:focus,button:focus{outline: none;}
input[type="button"],input[type="submit"],input[type="file"],input[type="reset"],button{cursor:pointer;}
/*********************common***************************/
.cl:after{content:"";display:block;clear:both;overflow:hidden;height:0;visibility:hidden;}
.cl{zoom:1;}
.gwidth{width: 1200px;margin: auto;}
.text-overflow{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.block{display:block;}

.login-header {
        height: 98px;
         .login-header-center {
                width: 1210px;
                height: 100%;
                margin: 0 auto;
                font-size: 0;
                .fivelux-logo {
                    display: inline-block;
                    height: 98px;
                    width: 244px;
                    background-size: 244px 98px;
                    background-repeat: no-repeat;
                    background-image: url(../images/5luxlogo.jpg);
            }
            .header-line {
                    display: inline-block;
                    width: 2px;
                    height: 44px;
                    vertical-align: middle;
                    background-color: #ccc;
                    margin: 0 18px;
            }
            .header-text {
                    display: inline-block;
                    font-size: 22px;
                    color: #999;
                    vertical-align: middle;
            }   
            .header-right {
                    float: right;
                    display: table;
                    *zoom: 1;
                    *display: block;
                    font-size: 0;
                    height: 100%;
                    i {
                            display: inline-block;
                            width: 19px;
                            height: 19px;
                            padding-right: 10px;
                            background-image: url(../images/phone-logo.png);
                            background-size: 19px 19px;
                            background-repeat: no-repeat;
                            vertical-align: middle;
                    }
                    p {
                            display: inline-block;
                            *zoom: 1;
                            *display: block;
                            color: #666;
                            font-size: 13px;
                            vertical-align: middle;
                    }
            }
        }
}
//中部
.login-warpper{
        background-color: #262626;
        width: 100%;
        text-align: center;
        .login-center-wp{
                position: relative;
                width: 1210px;
                height: 524px;
                background-repeat: no-repeat;
                margin: 0 auto;
                background-image: url(../images/login/login_background1.jpg);
                padding: 30px 0;
                background-size: 100% 584px;
                .login-c-right{
                        width: 400px;
                        float: right;
                        margin-right: 40px;
                        padding: 30px 0;
                        padding: 0;
                        background: #fff;
                        .log-title{
                                margin: 0 20px;
                                margin-top: 34px;
                                font-size: 20px;
                                line-height: 20px;
                                height: 20px;
                                color: #999;
                                .log-title-list{
                                        font-size: 20px;
                                        line-height: 20px;
                                        font-weight: 400;
                                        width: 49%;
                                        text-align: center;
                                        cursor: pointer;
                                }
                                .fl{
                                        float: left;
                                }
                                .fr{
                                    float: right;
                                }
                                .list-active{
                                    color: #000000;
                                }
                        }
                        .log-body{
                                width: 100%;
                                height: 380px;
                                .is-qcode{
                                        text-align: center;
                                        display: table;
                                        height: 100%;
                                        .is-qcode-con{
                                                display: table-cell;
                                                width: 400px;
                                                margin: 0 auto;
                                                vertical-align: middle;
                                                text-align: center;
                                                .qcode-hook{
                                                    height: 165px;
                                                    display: inline-block;
                                                    .scanqrcode_img{
                                                        float: left;
                                                    }
                                                    .qc-img{
                                                        float: left;
                                                        vertical-align: top; 
                                                        margin-left: 20px; 
                                                        height: 165px; 
                                                        display: block; 
                                                        width: 0px;
                                                        transition: .3s;
                                                    }
                                                }
                                                .qcode-hook:hover .qc-img{
                                                    width: 165px;
                                                }
                                                .start-text{
                                                        padding-top: 25px;
                                                        font-size: 14px;
                                                        color: #999999;
                                                }
                                        }
                                }
                                .is_user{
                                    #submit{
                                        padding-top: 20px;
                                        .inp-hook{
                                                display: block;
                                                margin: 0 31px;
                                                margin-top: 16px;
                                                width: 296px;
                                                height: 48px;
                                                border: 1px solid #CCC;
                                                padding: 0 20px;
                                                font-size: 14px;
                                        }
                                        .error-tip{
                                                width: 338px;
                                                margin: 0 31px;
                                                height: 54px;
                                                .error-tip-wp{
                                                        font-size: 0;
                                                        display: inline-block;
                                                        color: #f62b0f;
                                                        height: 14px;
                                                        line-height: 14px;
                                                        margin: 25px 0;
                                                        .tip-logo{
                                                                display: inline-block;
                                                                width: 14px;
                                                                height: 14px;
                                                                background-image: url(../images/login/close.png);
                                                                background-size: 14px 14px;
                                                                background-repeat: no-repeat;
                                                                vertical-align: middle;
                                                        }
                                                        .tip-text{
                                                                height: 14px;
                                                                line-height: 14px;
                                                                font-size: 14px;
                                                                display: inline-block;
                                                                vertical-align: middle;
                                                                margin-left: 5px;
                                                        }
                                                }
                                        }
                                        .sub-btn{
                                                transition: all linear 0.5s;
                                                -moz-transition: all linear 0.5s;
                                                -webkit-transition: all linear 0.5s;
                                                -o-transition: all linear 0.5s;
                                                width: 338px;
                                                height: 50px;
                                                line-height: 50px;
                                                text-align: center;
                                                color: #fff;
                                                background: #333;
                                                margin: 0 31px;
                                                font-size: 18px;
                                                border: none;
                                                cursor: pointer;
                                        }
                                        .sub-btn:hover{
                                                background: #900;
                                        }
                                        .sub-bottom{
                                            margin: 0 31px;
                                            margin-top: 20px;
                                            height: 14px;
                                            line-height: 14px;
                                            font-size: 0;
                                            color: #999;
                                            .fl{
                                                float: left;
                                                label{
                                                        display: inline-block;
                                                        vertical-align: middle;
                                                        width: 12px;
                                                        height: 12px;
//                                                      background-image: url(../images/login/is_yes_bg.png);
                                                        background-size: 12px 12px;
                                                        background-repeat: no-repeat;
                                                        cursor: pointer;
                                                }
                                                p{
                                                        display: inline-block;
                                                        font-size: 14px;
                                                        vertical-align: middle;
                                                        margin-left: 5px;
                                                }
                                            }
                                            .fr{
                                                    float: right;
                                                    height: 100%;
                                                    font-size: 14px;
                                            }
                                        }
                                    }
                                }
                        }
                        .other-type{
                                height: 16px;
                                width: 100%;
                                background: url(../images/login/other-type.jpg) 100% 100% no-repeat;
                        }
                        .is_ot{
                                height: 74px;
                                position: relative;
                                margin: 0 94px;
                                .ul-hook{
                                        position: absolute;
                                        width: 100%;
                                        height: 32px;
                                        top: 0;
                                        bottom: 0;
                                        margin: auto;
                                        .li-hook{
                                                height: 32px;
                                                width: 33%;
                                                float: left;
                                                text-align: center;
                                                i{
                                                    width: 32px;
                                                    height: 32px;
                                                    display: inline-block;
                                                    background-repeat: no-repeat;
                                                    background-size: 32px 32px;
                                                    cursor: pointer;
                                                }
                                                .is_wx{
                                                    background-image: url(../images/login/is_wx.png);
                                                }
                                                .is_wx:hover{
                                                    background-image: url(../images/login/is_wx_sel.png);
                                                }
                                                .is_qq{
                                                    background-image: url(../images/login/is_qq.png);
                                                }
                                                .is_qq:hover{
                                                    background-image: url(../images/login/is_qq_sel.png);
                                                }
                                                .is_wb{
                                                    background-image: url(../images/login/is_wb.png);
                                                }
                                                .is_wb:hover{
                                                    background-image: url(../images/login/is_wb_sel.png);
                                                }
                                        }
                                }
                        }
                }
        }
}












